div{
  display: flex;
  gap: 10px;
}
.focusInput{
  display: none;
}
input:focus-within{
  outline: 1px solid blue;
  width: 20rem;
}
button{
  border: none;
  background-color: red;
  color: white;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
}





















/* .shopping-cart {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.products {
  display: flex;
  
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.product button:hover {
  background-color: #0056b3;
}

.cart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.cart h2 {
  margin-bottom: 10px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}
.links{
  margin: 300px;
  color: red;
} */